<!doctype HTML>

<head>
  <title>contact-success!</title>
  <link href = "assets/style.css" rel = "stylesheet" type = "text/css">
</head>
<body>
  <% include partials/nav.ejs %>
  <p> Thank you! </p>
  <p> The person you want to contact is <%= data.who%> in the <%= data.dept%>
    department </p>


</body>
