<!doctype HTML>

<head>
  <title>Contact!</title>
  <link href = "assets/style.css" rel = "stylesheet" type = "text/css">
</head>
<body>
  <% include partials/nav.ejs %>
  <h1>Contact us!</h1>
  <p>the email id and phone number will be provided shortly. <br />check back later</p>
</body>
