<!doctype HTML>

<head>
  <title>Surprise!</title>
  <link href = "assets/style.css" rel = "stylesheet" type = "text/css">
</head>
<body>
    <% include partials/nav.ejs %>
  <h1>Learning NodeJs</h1>
  <p>Youtube - The best way to learn :P </p>
</body>
